<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game Pro</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'games.css' %}">
</head>
<body>
<div>
	<svg class="Path_1" viewBox="0 0 1920 128">
		<path fill="rgba(0,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_1" d="M 0 0 L 1920 0 L 1920 128 L 0 128 L 0 0 Z">
		</path>
	</svg>
	<div id="Gamer_Pro">
		<span>Gamer Pro</span>
	</div>
	<svg class="Ellipse_1">
		<ellipse fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_1" rx="29.5" ry="28" cx="29.5" cy="28">
		</ellipse>
	</svg>
	<div id="Username">
		{% if user.is_authenticated %}
		<strong>{{user.username}}</strong>
		<br>
		<a href="accounts/logout/" class="btn btn-danger ml-2">Log Out</a>
		{% else %}
		<a href="/accounts/login/" class="btn btn-secondary ml-2">Log In</a>
		<br>
		<a href="/accounts/signup" class="btn btn-primary ml-2">Sign Up</a>
		{% endif %}

	</div>
	<img id="gamepicture" src="{{ outerworlds.image.url}}">
	<svg class="Rectangle_2">
		<rect fill="rgba(0,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="1463" height="363">
		</rect>
	</svg>
	<div id="game">
		<span>{{outerworlds.description}}</span>
	</div>
	<svg class="Rectangle_3">
		<rect fill="rgba(0,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="385" height="109">
		</rect>
	</svg>
	<svg class="Rectangle_4">
		<rect fill="rgba(0,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="385" height="109">
		</rect>
	</svg>
	<div id="Add_to_list">
		<span>Add to list</span>
	</div>
	<div id="Watch_Trailer">
		<span>Watch Trailer</span>
	</div>
	<div id="Return">
		<a href="{% url 'index' %}"><span>Return</span></a>
	</div>
</div>
</body>
</html>
